/* Make web page look nice
Use at least one ID selector
Use at least 2 different class selectors
Use inline styles at least once
Use at least 3 different combinators  
Push all your changes to your repository
At least one commit from every team member
Submit your Name, student ID, and repository link to homework submission page. */

*{
    font-family: 'Merriweather', serif;
}
.profile_info{
    display: flex;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.profile_info section:nth-of-type(1){
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.profile_info section:nth-of-type(2){
    border: 2px solid pink;
}






















































/* section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: start;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
} */



/* table {
    border-collapse: collapse;
}

table, thead, tbody  {
    border: 2px solid black;
}

thead {
    display: flex;
}

tbody {
    display: flex;
    flex-direction: column;
} */


/* .box-one {
    di
    order: 1;
    flex-grow: 6;
}

.box-two {
    order: 2;
}

.box-three {
    order: 3;
}

.box-four {
    order: 4;
} */