/* Make web page look nice
Use at least one ID selector
Use at least 2 different class selectors
Use inline styles at least once
Use at least 3 different combinators  
Push all your changes to your repository
At least one commit from every team member
Submit your Name, student ID, and repository link to homework submission page. */

*{
    font-family: 'Merriweather', serif;
    background-image: url(/Users/SA/Desktop/Homework_1/wad-hw1/res/images/memphis-mini/memphis-mini.png)
}


.profile_info{
    display: flex;
    width: fit-content;
    height: 600px;
    border: 2px solid black;
    margin: 10px auto;
}

.profile_info section:nth-of-type(1){
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.profile_info section:nth-of-type(2){
    border: 2px solid pink;
}

